<div class="container-fluid px-4 py-4">
  <div class="row">
    <h2 class="mb-5">Create Exam</h2>
    <div class="col-md-3">
      <label for="selectOption" class="fw-bold">Select Term</label>
      <select class="form-control" [(ngModel)]="selectedTermOption" [ngModelOptions]="{standalone: true}"
        (click)="getVal()">
        <option *ngFor="let t of term" value="{{t}}">{{t}}</option>
      </select>
    </div>
    <!-- <div class="col-md-2"></div> -->
    <div class="col-md-4">
      <div class="col d-flex justify-content-between">
        <div class="">
          <label class="fw-bold">Total Percentage</label>
          <input type="number" name="total" class="form-control" [(ngModel)]="selectedTotalMarksOption"
            [ngModelOptions]="{standalone: true}" placeholder="Eg: 100">
        </div>
        <div>
          <label class="fw-bold">Passing Percentage</label>
          <input type="number" name="passing" class="form-control" [(ngModel)]="selectedPassingMarksOption"
            [ngModelOptions]="{standalone: true}" placeholder="Eg: 40">
        </div>
      </div>
    </div>
    <div style="text-align: right;" class="col-md-5 mt-3">
      <button (click)="creteExam()" class="btn btn-success">Create Exam</button>
    </div>
    <br><br>
  </div>
  <div class="row">
    <div class="col-md-8 mt-4">
      <div class="row">
        <div class="col d-flex" style="max-width: 250px;">
          <div>
            <label class="fw-bold">Year:</label>
            <input type="number" name="year" class="form-control" [(ngModel)]="selectedYearOption"
              [ngModelOptions]="{standalone: true}" placeholder="Eg: 2023">
          </div>
          <div style="margin-left: 15px;">
            <label class="fw-bold">Date:</label>
            <select style="width: 100px;" class="form-control" [(ngModel)]="selectedDateOption" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let d of date" value="{{d}}">{{d}}</option>
            </select>
          </div>
        </div>
        <div class="col d-flex">
          <div>
            <label class="fw-bold">Month</label>
            <select class="form-control" [(ngModel)]="selectedMonthOption" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let m of month" value="{{m}}">{{m}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-3">
      <label class="fw-bold">Department Name</label>
      <select class="form-control custom-select" [(ngModel)]="selectedDepOption" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let dep of data" value="{{dep._id}}">{{dep.name}}</option>
      </select>
    </div>
    <div class="col-md-3">
      <label class="fw-bold" for="selectOption">Class Name</label>
      <select class="form-control custom-select" [(ngModel)]="selectedClassOption"
        [ngModelOptions]="{standalone: true}" (click)="getVal()">
        <option *ngFor="let class of classes" value="{{class._id}}">{{class.title}}</option>
      </select>
    </div>
    <div class="col-md-3">
      <label class="fw-bold" for="selectOption">Teacher Name</label>
      <select class="form-control custom-select" [(ngModel)]="selectedTeacherOption"
        [ngModelOptions]="{standalone: true}">
        <option *ngFor="let teacher of teachers" value="{{teacher._id}}">{{teacher.firstName}}</option>
      </select>
    </div>
    <div class="col-md-3">
      <label class="fw-bold" for="selectOption">Subject Name</label>
      <select class="form-control custom-select" [(ngModel)]="selectedSubjectOption"
        [ngModelOptions]="{standalone: true}">
        <option *ngFor="let subject of subjects" value="{{subject._id}}">{{subject.title}}</option>
      </select>
    </div>
  </div>

</div>
