<div class="departments container py-5">
  <h1>Parents</h1>
  <div class="row py-5">
    <div class="col-md-12">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Parents</button>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Parent Name</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="text" class="form-control my-2" [(ngModel)]="firstName" placeholder="Enter First Name">
            <input type="text" class="form-control my-2" [(ngModel)]="lastName" placeholder="Enter Last Name">
            <input type="email" class="form-control my-2" [(ngModel)]="email" placeholder="Enter email">
            <input type="password" class="form-control my-2" [(ngModel)]="pwd" placeholder="Enter Password">
            <!-- <input type="text" class="form-control my-2" [(ngModel)]="class" placeholder="Enter Class"> -->
            <!-- <label for="selectOption">Student Name:</label> -->
            <!-- <select class="form-control custom-select" [(ngModel)]="selectedOption"
              [ngModelOptions]="{standalone: true}">
              <option *ngFor="let student of students" value="{{student._id}}">{{student.firstName}}</option>
            </select> -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="createParent()">
              Create Parent</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="w-25 ps-4">First Name</th>
            <th scope="col" class="w-25 ps-4">Last Name</th>
            <th scope="col" class="w-25 ps-4">Email</th>
            <th scope="col" class="w-25 text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of parents, let i = index">
            <th scope="row">{{i + 1}}</th>
            <td class=" ps-4">{{d.firstName}}</td>
            <td class=" ps-4">{{d.lastName}}</td>
            <td class=" ps-4">{{d.email}}</td>

            <td class="text-center">
              <button style="font-size: 12px;" class="btn btn-sm btn-primary">
                Details
              </button>
              <button (click)="update(d._id)" data-bs-toggle="modal" data-bs-target="#update"
               style="font-size: 12px;" class="btn btn-sm btn-success mx-2">
                Update
              </button>
              <div class="modal fade" id="update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Update Parent</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <input type="text" class="my-2 form-control" [(ngModel)]="upFirstName" value={{this.upFirstName}}
                        placeholder="Update First Name">
                        <input type="text" class="my-2 form-control" [(ngModel)]="upLastName" value={{this.upLastName}}
                        placeholder="Update Last Name">
                        <input type="email" class="my-2 form-control" [(ngModel)]="upEmail" value={{this.upEmail}}
                        placeholder="Update Email">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                      (click)="updateParent()">
                        Update Parent</button>
                    </div>
                  </div>
                </div>
              </div>
              <button (click)="addStudent(d._id)" style="font-size: 12px;" class="btn btn-sm btn-secondary"
              data-bs-toggle="modal" data-bs-target="#update">
                Add Student
              </button>
              <div class="modal fade" id="update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width: 1440px;">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Update Parent</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <input type="text" class="my-2 form-control" [(ngModel)]="upFirstName" value={{this.upFirstName}}
                        placeholder="Update First Name">
                        <input type="text" class="my-2 form-control" [(ngModel)]="upLastName" value={{this.upLastName}}
                        placeholder="Update Last Name">
                        <input type="email" class="my-2 form-control" [(ngModel)]="upEmail" value={{this.upEmail}}
                        placeholder="Update Email">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                      (click)="updateParent()">
                        Update Parent</button>
                    </div>
                  </div>
                </div>
              </div>
              <button (click)="remove(d._id)" style="font-size: 12px;" class="btn btn-sm btn-danger mx-2">
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

