<div *ngIf="!studentRole" class="container-fluid px-4 py-4">
  <h2>Exams</h2>

  <div class="row py-4">
    <div *ngIf="hodRole" class="col-md-3">
      <label for="selectOption" class="fw-bold mb-2">Select Class:</label>
      <select class="form-control" [(ngModel)]="selectedClassOption" [ngModelOptions]="{standalone: true}"
        (change)="getClassID()">
        <option *ngFor="let class of classes" value="{{class._id}}">{{class.title}}</option>
      </select>
    </div>
    <div *ngIf="!parentRole" class="col-md-12 mt-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="w-25 ps-4">Title</th>
            <th scope="col" class="w-25 ps-4">Total Percentage</th>
            <th scope="col" class="w-25 text-center">Passing Percentage</th>
            <th scope="col" class="w-25 text-center">Date</th>
            <th scope="col" class="w-25 text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ex of teacherExams, let i = index">
            <th scope="row">{{i + 1}}</th>
            <td class=" ps-4">{{ex.title}}</td>
            <td class=" ps-4">{{ex.totalPercentage}}</td>
            <td class="text-center">{{ex.passingPercentage}}</td>
            <td class="text-center ps-4">{{ex.day}}-{{ex.month}}-{{ex.year}}</td>

            <td class="text-center">
              <button data-bs-toggle="modal" data-bs-target="#details" class="btn btn-sm btn-primary mx-2"
                (click)="examDetails(ex._id)">
                Details
              </button>
              <div class="modal fade modal-xl" id="details" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Exam Details</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body pt-3 pb-3">
                      <div>
                        <div class="row">
                          <div class="col-2 text-start">
                            <span class="fw-bold">Class: </span>
                            <span class="fw-normal">{{examsClassDetails}}</span>
                          </div>
                          <div class="col-2 text-start">
                            <span class="fw-bold">Subject: </span>
                            <span class="fw-normal">{{examsSubjectDetails}}</span>
                          </div>
                          <div class="col-4 text-start">
                            <span class="fw-bold">Teacher: </span>
                            <span class="fw-normal">{{examsTeacherDetails}}</span>
                          </div>
                          <div class="col-4 text-start">
                            <span class="fw-bold">Department: </span>
                            <span class="fw-normal">{{examsDepartmentDetails}}</span>
                          </div>
                        </div>
                        <table class="table table-striped mt-4">
                          <thead>
                            <tr class="text-start">
                              <th scope="col">#</th>
                              <th scope="col" class="w-25 ps-4">First Name</th>
                              <th scope="col" class="w-25 ps-4">Last Name</th>
                              <th scope="col" class="w-25">Obtained Percentage</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let student of examsStudentsDetails, let i = index" class="text-start">
                              <th scope="col">{{i + 1}}</th>
                              <td scope="col" class="w-25 ps-4">{{student.student.firstName}}</td>
                              <td scope="col" class="w-25 ps-4">{{student.student.lastName}}</td>
                              <td scope="col" class="w-25 ps-4">
                                <input type="number" class="form-control" [(ngModel)]="selectedObtainMarks[i]"
                                  [ngModelOptions]="{standalone: true}" placeholder="EG: 75" min="0" max="100">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button (click)="upDateExamsMarks()" type="button" class="btn btn-primary"
                        data-bs-dismiss="modal">
                        Save Marks</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="!parentRole && studentRole" class="container-fluid px-4 pt-4">
  <div class="row">
    <div class="col-md-12">
      <h2>Exams</h2>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-2 text-start">
      <span class="fw-bold">Name: </span>
      <span class="fw-normal">{{name}}</span>
    </div>
    <div class="col-2 text-start">
      <span class="fw-bold">Class: </span>
      <span class="fw-normal">{{className}}</span>
    </div>
    <div class="col-2 text-start">
      <span class="fw-bold">Year: </span>
      <span class="fw-normal">{{classYear}}</span>
    </div>
    <div class="col-4 text-start">
      <span class="fw-bold">Department: </span>
      <span class="fw-normal">{{departmentName}}</span>
    </div>

    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" class="ps-4">Title</th>
          <th scope="col" class="ps-4 text-center">Total Marks</th>
          <th scope="col" class="ps-4 text-center">Date</th>
          <th scope="col" class="ps-4 text-center">Passing Marks</th>
          <th scope="col" class="ps-4 text-center">Obtained Marks</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attendance of studentAttendances, let i = index">
          <th scope="row">{{i + 1}}</th>
          <td class=" ps-4">{{attendance.exam.title}}</td>
          <td class=" ps-4 text-center">{{attendance.exam.totalPercentage}}</td>
          <td class=" ps-4 text-center">{{attendance.exam.day}}-{{attendance.exam.month}}-{{attendance.exam.year}}</td>
          <td class=" ps-4 text-center">{{attendance.exam.passingPercentage}}</td>
          <td class=" ps-4 text-center">{{attendance.obtainedPercentage}}</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>

<div *ngIf="parentRole" class="container-fluid px-4 pt-4">
  <div class="row">
    <div class="col-md-12">
      <h2>
        Exams
      </h2>
    </div>
    <div class="col-md-12">
      <table class="table table-striped mt-4">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="ps-4">Student Name</th>
            <th scope="col" class="ps-4">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attendance of myStudents, let i = index">
            <th scope="row">{{i + 1}}</th>
            <td class=" ps-4">{{attendance.firstName + ' ' + attendance.lastName}}</td>
            <td scope="col" class="">
              <button (click)="getStudentsDetailsForParent(attendance._id)" class="btn btn-primary"
                data-bs-toggle="modal" data-bs-target="#staticBackdrop">Details</button>
              <!-- Modal -->
              <div class="modal fade modal-xl" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Exam details</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="row mt-5">
                        <div class="col-4 text-start">
                          <span class="fw-bold">Name: </span>
                          <span class="fw-normal">{{name}}</span>
                        </div>
                        <div class="col-2 text-start">
                          <span class="fw-bold">Class: </span>
                          <span class="fw-normal">{{className}}</span>
                        </div>
                        <div class="col-2 text-start">
                          <span class="fw-bold">Year: </span>
                          <span class="fw-normal">{{classYear}}</span>
                        </div>
                        <div class="col-4 text-start">
                          <span class="fw-bold">Department: </span>
                          <span class="fw-normal">{{departmentName}}</span>
                        </div>
                    
                        <table class="table table-striped mt-4">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col" class="ps-4">Title</th>
                              <th scope="col" class="ps-4 text-center">Total Marks</th>
                              <th scope="col" class="ps-4 text-center">Date</th>
                              <th scope="col" class="ps-4 text-center">Passing Marks</th>
                              <th scope="col" class="ps-4 text-center">Obtained Marks</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let attendance of studentAttendances, let i = index">
                              <th scope="row">{{i + 1}}</th>
                              <td class=" ps-4">{{attendance.exam.title}}</td>
                              <td class=" ps-4 text-center">{{attendance.exam.totalPercentage}}</td>
                              <td class=" ps-4 text-center">{{attendance.exam.day}}-{{attendance.exam.month}}-{{attendance.exam.year}}</td>
                              <td class=" ps-4 text-center">{{attendance.exam.passingPercentage}}</td>
                              <td class=" ps-4 text-center">{{attendance.obtainedPercentage}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>